html {
  height: 100%;
}
body {
  background-size: cover;
  background-repeat:no-repeat;
  height: 100%;
  padding-top: 4%;
}
.fill {
  height: 100%;
}
#lean_overlay {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;

}

.modal {
  display: none;
  width: 500px;
  padding: 10px 20px;
  background: #FFF;
}
.modal-content {
  position: relative;
  min-height: 50%;
  width: 80%;
  margin: 50px;
  background-color: #fff;
  border-radius: 15px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  padding: 20px;
}

