<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Curry Haskell Girls</title>
    <style type="text/css" media="screen">
     #editor { 
       position: absolute;
       top: 20%;
       right: 0;
       bottom: 20%;
       left: 0;
     }
    </style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <script>
     
     var src = "if __name__ == \"__main__\";  printf(\"hello world\");"
     var id = 0;

     var send_data = {id:id, src:src};

     function my_func() {
       alert("my_func");
       console.log(send_data);
       
       $.post("localhost:5000", send_data,
              function(responce_data) {
		alert(responce_data);

		// responce_dataをパース
		
		if (responce_data == true) { 
		  alert("responce: true");
		} else {
		  alert("responce: false");
		}	
              }
       );
       
     };
     
     
    </script>

  </head>
  <body>


    <input type="submit" id="sendSrc" value="send src" onClick="my_func()">
        
    <div id="editor">if __name__ == "__main__":
  print("Hello world")
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
     var editor = ace.edit("editor");
     editor.setTheme("ace/theme/monokai");
     editor.setFontSize(14);
     editor.getSession().setMode("ace/mode/python");
     editor.getSession().setUseWrapMode(true);
     editor.getSession().setTabSize(2);
    </script>

  </body>
</html>
