{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="grid">
  <div class="col span-4 fill">
    <div class="chara">
      <img src="{{ url_for('static', filename='img/test1.png') }}" alt="">
    </div>
  </div>
  <div class="col span-8 fill">
    <div class="list">
      <img src="{{ url_for('static', filename='img/quiz_list.png') }}" alt="">
      <div class="list-content">
        <ul>
          <li onclick="location.href='/quiz/1';">問題1: 挨拶をしよう!</li>
          <li onclick="location.href='/quiz/2';">問題2: 正しいこと</li>
          <li onclick="location.href='/quiz/3';">問題3: 繰り返すと？</li>
        </ul>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
</body></html>
