{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/quiz.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
<!-- 2 columns of equal width -->
<div class="grid fill">
  <div class="col span-6 fill">
    <div id="dance">
      <!--
      <img id="character" src="{{ url_for('static', filename='img/test1.png') }}" alt="">
      -->

      <!-- Live2D Library -->
      <script src="{{ url_for('static', filename='js/live2d.min.js') }}"></script>
      <!-- User's Script -->
      <script src="{{ url_for('static', filename='js/Simple.js') }}"></script>

      <canvas id="glcanvas" width = "512px" height="512px" style="border:dashed 1px #CCC"></canvas>
      <img>

      <div id="phrase"></div>
    </div>
  </div>
  <div class="col span-6 fill">
    <div id="question">
      <h1>問題</h1>
      <p>{{ quiz_text|safe }}</p>
    </div>
    <div id="code">
      <div id="editor"></div>
      <div id="hint" style="display:none">{{ quiz_hint|safe }}</div>
    </div>
    <div id="action">
      <img id="back" src="{{ url_for('static', filename='img/return.png') }}" alt="">
      <img id="reset" src="{{ url_for('static', filename='img/reset.png') }}" alt="">
      <img id="judge" src="{{ url_for('static', filename='img/judge.png') }}" alt="">
    </div>
  </div>
  <div id="modal" class="col span-8 fill">
    <div id="story" class="modal-content">
    </div>
  </div>
</div>
<a id="mod" rel="leanModal" href="#modal" style=""></a>
<img style="display:none" src="{{ url_for('static', filename='img/test0.gif') }}" alt="">
<img style="display:none" src="{{ url_for('static', filename='img/test1.png') }}" alt="">
<img style="display:none" src="{{ url_for('static', filename='img/correct.gif') }}" alt="">
<img style="display:none" src="{{ url_for('static', filename='img/incorrect.gif') }}" alt="">
<img style="display:none" src="{{ url_for('static', filename='img/swingright.gif') }}" alt="">
<div id='quiz_id'>{{ quiz_id }}</div>
{% endblock %}

{% block js %}
<script>Simple();</script>
<script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
{% endblock %}
</body></html>
